html {
  scroll-behavior: smooth;
}

body {
  cursor: none;
}

.cursor {
  cursor: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.cursor__item,
.cursor__item-small {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  mix-blend-mode: exclusion;
  border-radius: 50%;
  user-select: none;
}

.cursor__item {
  width: 2rem;
  height: 2rem;
  transition: transform 200ms cubic-bezier(0.56, 0.72, 0.38, 0.87);
}

.cursor__item-small {
  width: 1rem;
  height: 1rem;
  transition: transform 50ms cubic-bezier(0.56, 0.72, 0.38, 0.87);
}
